{
  "module": {
    "type": "commonjs",
    "strict": true
  },
  "jsc": {
    "externalHelpers": false,
    "target": "es2021",
    "parser": {
      "syntax": "typescript",
      "decorators": true
    },
    "baseUrl": "./src",

    "keepClassNames": true
  }
}
