# Mac
.DS_Store

# Turbo-Repo
.turbo

# dotenv environment variable files
.env
.env.development
.env.dev
.env.prod
.env.test
.env.production

# Build Output
.next
dist
build

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*

# Dependency directories
node_modules/

# TypeScript cache
*.tsbuildinfo

out/

# yarn
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
