# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules/

apps/bot/Lavalink/logs
# testing
coverage

# next.js
.next/
out/
build
lib/

# build files
dist
*.tsbuildinfo

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# local env files
.env
.env.development
.env.test
.env.production

# turbo
.turbo