@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #1c1a25;
  margin: 0;
  /* font-family: 'Poppins', -apple-system, BlinkMacSystemFont, sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@layer components {
  .img-glow {
    border-radius: 50%;
    box-shadow: 0px 0px 30px 1px #6635f0;
    animation: glowShadow 3.5s linear infinite alternate;
  }

  @keyframes glowShadow {
    to {
      box-shadow: 0px 0px 60px 5px #6635f0;
    }
  }
}
