@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: var(--font-sans), system-ui, sans-serif;
}

body {
  color: #f8f8f8;
  background-color: #17151e;
}

/*
  Issue with mobile browsers:
  https://youtu.be/veEqYQlfNx8?t=120

  Solution: 
  https://github.com/tailwindlabs/tailwindcss/discussions/4515
*/
@layer utilities {
  .min-safe-h-screen {
    /* equivalent to 100dvh in major browsers */
    min-height: calc(
      100vh - env(safe-area-inset-bottom, 0) - env(safe-area-inset-top, 0)
    );
  }

  @supports (-webkit-touch-callout: none) {
    .min-safe-h-screen {
      /* for ios safari 15, safe-area-inset-bottom is 0, so a special fix apply here */
      min-height: -webkit-fill-available;
    }
  }
}
